#order-list-container {
	padding-inline-start: 0;
}

#order-list-container > li {
	display: flex;
	list-style-type: none;
	align-items: center;
    gap: 10px;
}

#order-list-container span.product-name {
	flex: 1;
}
