header {
    background: #d9b100;
    text-align: center;
}
header >span {
	font-size: 40px;
	font-weight: bold;
}
header nav {
    right: 0;
    left: initial;
}

header ul {
    list-style-type: none;
	padding-inline-start: 0;
	margin-top: 16px;
}

header a[href] {
    color: #000;
}

footer {
	position: fixed;
    right: 0;
    bottom: 0;
    margin: 5px;
}