.order-list-container {
	padding-inline-start: 0;
    overflow-y: auto			;
    max-height: calc(100vh - 421px);
}

.order-list-container > li {
	display: flex;
	list-style-type: none;
	align-items: center;
    gap: 10px;
}

.order-list-container span.product-name {
	flex: 1;
}
